#button {

    background-color: rgb(82, 139, 113);
    margin-top: 15px;
    
}  
#formulariocacamba{
    margin-top: 100px;
    border-radius: 8px;
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-inline: 8%;
}

.card {
    width: 400px;
    padding: 10px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.card span, p {
    margin-top: 5px;
}

.card .quest{
    font-weight: 600;
}

.mapid {
    border-radius: 8px;
    margin-inline: auto;
    width: 65%;
    height: 300px;
    margin-top: 40px;
}