#button {

    background-color: rgb(82, 139, 113);
    margin-top: 15px;
    
}  
#formulariocacamba{
    margin-top: 100px;
    border-radius: 8px;
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
    margin: 8%;
}

.mapid {
    width: 100%;
}